/*heading1 styling*/
h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

/*headind 1&2 styling*/
h1,
h2 {
    opacity: 0.7;
    color: black;
    font-family: sans-serif;
}

/*header background image*/
header {
    background-image: url("/Digital-resume/Images/pexels-sl-wong-1023953.jpg");
    background-size: cover;
    background-position: center;
}

/*Picture in header styling*/
.Picture {
    height: 30%;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

#intro {
    color: black;
    padding: 0.5rem 1rem;
    font-style: oblique;
}

aside{ text-align: center;
/* color: white; */
position: sticky; 
top: 0px;
}
section-2{ position: sticky;
background-image: url("/Digital-resume/Images/pexels-karolina-grabowska-4210811.jpg");
background-size: cover;
background-position: center;}

h3 {
    text-align: left;
}
/* background image added for the body and font color,size and style set with a margin */
body {
    background-image: url("");
    background-size: cover;
    font-style: unset;
    color:;
    font-size: large;
    margin: 20px;
}


/* all content padding */
p {
    padding-left: 20px;
}

/* Nav menu padding added */
aside {
    padding: 20px;
}

/* hyperlink color changed and formatted to change when hovered over */
a {
    color: rgb(137, 23, 231);
    text-decoration: none
}

a:hover {
    color: black;

}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Styles for mobile devices */
@media (max-width: 480px) {
        
[class= "grid-container"]{ display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;}

    [class*=""] {
        width: 75%;
        height: 50px;
    }

    [class*=""] {
        width: 75%;
        height: auto;
    }
}

/* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
    [class="grid-container2"] { display: grid;
        grid-template-columns: 1fr 10fr; }
    /* [class="grid-container"] {position: relative;
        position: sticky;
            top: 0px;
        } */
    [class*=""] {
        width: 75%;
        height: 60px;
    }

    [class*=""] {
        width: 75%;
        height: auto;
    }
}

/* Styles for laptops and desktops */
@media (min-width: 769px) {
    [class="grid-container2"] { display: grid;
        grid-template-columns: 1fr 5fr;}
    [class*=""] {
        width: 75%;
        height: 80px;
    }

    [class*=""] {
        width: 75%;
        height: auto;
    }
}
footer{ background-image: url("/Digital-resume/Images/pexels-sl-wong-1023953.jpg");
    background-size: cover;
    background-position: center;
padding: 20px;}