/*heading1 styling*/
h1 {
    text-align: center;
    color: white margin: 0px;
    padding: 20px;
}

/*headind 1&2 styling*/
h1,
h2 {
    opacity: 0.7;
    color: black;
    /* font-family: 'Rubik Dirt', cursive; */
    font-family: 'Monoton', cursive;
    margin-top: 0px;
}

/*header background image*/
header {
    background-image: url("/Digital-resume/Images/pexels-alena-yanovich-14569570.jpg");
    background-size: cover;
    background-position: center;
}

/*Picture in header styling*/
.Picture {
    height: 30%;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

#intro {
    color: black;
    padding: 0.5rem 1rem;
    font-style: oblique;
}

aside {
    text-align: center;
    /* color: white; */
    position: sticky;
    top: 0px;
}

section-2 {
    position: sticky;
    /* background-image: url("/Digital-resume/Images/pexels-emmanuel-codden-168845.jpg"); */
    /* background-size: cover;
background-position: center; */
}

h3 {
    text-align: left;
}

/* background image added for the body and font color,size and style set with a margin */
body {
    background-image: url("/Digital-resume/Images/pexels-karolina-grabowska-4041203.jpg");

    background-position: center;
    font-style: unset;
    color: ;
    font-size: large;
    margin: 0px;
}



/* all content padding */
p {
    padding-left: 20px;
}

/* Nav menu padding added */
aside {
    padding: 20px;
}

/* hyperlink color changed and formatted to change when hovered over */
a {
    color: rgb(137, 23, 231);
    text-decoration: none
}

a:hover {
    color: black;

}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* .flex-container for footer holds form and links to socials */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 65%;
}
/* form formatting  */
label, input, select, textarea{
    margin: 5px;
    display: inline-block;
    clear: left;
    text-align: left;}
label{ width: 75px;}

span{ color: red;}
/* Styles for mobile devices */
@media (max-width: 480px) {

    [class="grid-container"] {
        display: grid;
        background-color: black;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    [class*="icon"] {
        width: 30%;
  
    }
}

/* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
    [class="grid-container2"] {
        display: grid;
        grid-template-columns: 1fr 10fr;
    }

    /* [class="grid-container"] {position: relative;
        position: sticky;
            top: 0px;
        } */
    [class*="icon"] {
        width: 30%;

    }
}

/* Styles for laptops and desktops */
@media (min-width: 769px) {
    [class="grid-container2"] {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    [class*="icon"] {
        width: 30%;

    }
}
/* background image for footer */
footer {
    background-image: url("/Digital-resume/Images/pexels-alena-yanovich-14569570.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0px;
}